.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 46px;
  max-width: 1160px;
}

.cards .cards-card-body h2 {
  font-size: 30px;
  font-weight: normal;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

/* Cards light */

.blog-card-description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards.light.block .cards-card-body p {
  font-weight: normal;
  line-height: 1.5em;
}

.cards.light.block .cards-card-body {
  margin: 16px;
}

.cards.light.block {
  background-color: rgb(54 90 139);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.blog-card-tags li {
  background-color: #536878bf;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.cards.light.block ul > li  {
  background: 50% 50% / cover no-repeat rgb(54 90 139);
  border: none;
  color: #fff;
  text-align: center;
  padding: 0 20px 20px;
}

.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.cards-card-body .icon img {
  height: 100px;
  width: auto;
}


/* Cards Dark */

.cards.dark.block {
  background-color: rgb(43 67 100);
  padding: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cards.dark.block ul > li  {
  background: 50% 50% / cover no-repeat rgb(43 67 100);
  border: none;
  color: #fff;
  text-align: center;
  width: 240px;
  margin: 0 40px;
}


.cards.dark.block .button-container a {
  color: #da7b40;
  text-decoration: underline;
}


.cards.block.dark > ul > li:nth-child(1),
.cards.block.dark > ul > li:nth-child(2) {
  line-height: 1.5em;
}

/* media queries */

@media (max-width: 768px) {
  .cards > ul {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .cards.dark.block ul > li {
    width: 100%;
    margin: 0;
  }

  .cards.block.light > ul > li:nth-child(1),
  .cards.block.light > ul > li:nth-child(2),
  .cards.block.dark > ul > li:nth-child(1),
  .cards.block.dark > ul > li:nth-child(2) {
    border-bottom: 1px solid hsl(0deg 0% 100% / 25%);
  }

  .cards.block.dark > ul > li:nth-child(1) {
    padding-bottom: 20px;
    line-height: 2em;
  }

  .cards.block.dark > ul > li:nth-child(2) {
    padding-bottom: 50px;
    line-height: 2em;
  }
}


/* Blog cards styling */

.cards-container .cards.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}


.read-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.read-icon path {
  fill: #363F72;
}

.blog-card {
  display: flex;
  flex-direction: column; 
  color: #101828;
  border-radius: 15px;
  margin-bottom: 20px;
}

.blog-card .blog-card-image {
  width: 100%; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 1s, color 0.3s;
}

.blog-card .blog-card-image:hover {
  transform: scale(1.03);  
}

.blog-card .blog-card-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.blog-card .blog-card-title h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #101828;
  margin-top: 15px;
}

.blog-card .blog-card-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  color: #667085;
}

.blog-card .blog-card-author-date {
  font-size: 1rem;
  color: rgb(54, 90, 139);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.blog-card .blog-card-tags {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

.blog-card .blog-card-tags li {
  background-color: #fee2f7;
  padding: 5px 10px;
  color: #C11574;
  border-radius: 7px;
}

.blog-card .blog-card-link {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  color: #363F72; 
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
  width: auto;
}

.blog-card .blog-card-link:hover {
  transform: translateY(-3px); 
}

.blog-card .blog-card-link .read-icon {
  width: 20px; 
  height: 20px; 
  margin-left: 5px; 
  transition: transform 0.3s; 
}

.blog-card .blog-card-link:hover .read-icon {
  transform: translateY(-9px); 
}


@media (max-width: 768px) {
  .blog-card .blog-card-title h3 {
    font-size: 1.5rem;
  }
}