.cards > ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 46px;
  max-width: 1160px;
  margin: auto;
}

.cards .cards-card-body h2 {
  font-size: 30px;
  font-weight: normal;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

/* Cards light */

.blog.cards.block .blog-card-description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 15px;
}

.cards.light.block .cards-card-body p {
  font-weight: normal;
  line-height: 1.5em;
}

.cards.light.block .cards-card-body {
  margin: 16px;
}

.cards.light.block {
  background-color: var(--color-light-blue);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.blog-card .blog-card-tags li {
  padding: 4px 8px;
  border: 1px solid #101828;;
  font-weight: bold;
  color: #101828;;
  border-radius: 5px;
  font-size: .8rem;
}


.cards.light.block ul > li  {
  background: 50% 50% / cover no-repeat var(--color-light-blue);
  border: none;
  color: #fff;
  text-align: center;
  padding: 0 20px 20px;
}

.blog-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s;
}

.cards-card-body .icon img {
  height: 100px;
  width: auto;
}

/* Cards Dark */

.cards.dark.block {
  background-color: var(--color-dark-blue);
  padding: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cards.dark.block ul > li  {
  background: 50% 50% / cover no-repeat var(--color-dark-blue);
  border: none;
  color: #fff;
  text-align: center;
  width: 240px;
  margin: 0 40px;
}

.cards.dark.block .button-container a {
  color: #da7b40;
  text-decoration: underline;
}

.cards.block.dark > ul > li:nth-child(1),
.cards.block.dark > ul > li:nth-child(2) {
  line-height: 1.5em;
}

/* media queries */

@media (max-width: 768px) {
  .cards > ul {
    grid-template-columns: 1fr;
  }

  .cards.dark.block ul > li {
    width: 100%;
    margin: 0;
  }

  .cards.block.light > ul > li:nth-child(1),
  .cards.block.light > ul > li:nth-child(2),
  .cards.block.dark > ul > li:nth-child(1),
  .cards.block.dark > ul > li:nth-child(2) {
    border-bottom: 1px solid hsl(0deg 0% 100% / 25%);
  }

  .cards.block.dark > ul > li:nth-child(1) {
    padding-bottom: 20px;
    line-height: 2em;
  }

  .cards.block.dark > ul > li:nth-child(2) {
    padding-bottom: 50px;
    line-height: 2em;
  }
}

@media (max-width: 1515px) {
  .cards-container .cards.blog {
    padding: 0 10px;
  }
}

/* Blog cards styling */
.cards-container .cards.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.cards.blog.block h2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #363f72;
  margin: 0 0 50px;
 }
  
/* TODO Revisit naming of classes ... */
.cards.blog.block .cards.blog .read-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.cards.blog.block .cards.blog .read-icon path {
  fill: #363f72;
}

.cards.blog.block .blog-card {
  display: flex;
  flex-direction: column;
  color: #101828;
  border-radius: 15px;
  margin-bottom: 20px;
}

.cards.blog.block .blog-card .blog-card-image {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0 0 0 / 25%);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 1s, color 0.3s;
}

.cards.blog.block .blog-card .blog-card-image:hover {
  transform: scale(1.03);
}

.cards.blog.block .blog-card .blog-card-content {
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s;
}

.cards.blog.block .blog-card .blog-card-content:hover {
  transform: scale(1.03);
}	

.cards.blog.block .blog-card .blog-card-title h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #101828;
  margin-top: 5px;
}

.cards.blog.block .blog-card .blog-card-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

.cards.blog.block .blog-card .blog-card-author-date {
  font-size: 14px;
  color: rgb(54 90 139);
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.cards.blog.block .blog-card .blog-card-tags {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

.cards.blog.block .blog-card .blog-card-link {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  color: #363f72;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
  width: auto;
}

.cards.blog.block .blog-card .blog-card-link:hover {
  transform: translateY(-3px);
}

.cards.blog.block .blog-card .blog-card-wrapper {
  text-decoration: none;
}


@media (max-width: 768px) {
  .cards.blog.block .blog-card .blog-card-title h3 {
    font-size: 1.5rem;
  }

  .cards.blog.block .blog-card .blog-card-author-date {
    font-size: 0.8rem;
  }
}
