.page .hero picture {
  display: block;
  position: relative;
}

.page .hero img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.page .hero h1 {
  font-size: 50px;
  max-width: 1440px;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 64px 32px;
}

.homepage .hero-text-wrapper h1 {
  font-size: 50px;
  line-height: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
}

.homepage .hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.homepage .hero-wrapper {
  position: relative;
  overflow: hidden;
}

.hero-block {
  height: 857px;
}

.homepage .hero-background {
  margin: 0;
  height: 857px;
}

.homepage .hero-text-wrapper {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  gap: 10px;
}

.homepage .hero-text-wrapper h1 + p {
  display: block;
  position: relative;
  top: -10px;
}

.homepage .hero-text-wrapper > p:last-child {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}

.homepage .lighter-font {
  font-weight: normal;
}

 /* Media queries */

@media (max-width: 1515px) {
  .homepage .hero-wrapper {
    height: 90vh;
  }

  .homepage .hero-background {
    height: 90vh;
  }

  .homepage .hero-background img {
    object-position: left;
  }

  .homepage .hero-text-wrapper {
    width: 100%;
    margin-top: 100px;
  }

  .homepage .hero-text-wrapper img {
    width: 75px;
    height: auto;
  }

  .homepage .hero-text-wrapper h1 {
    font-size: 30px;
  }

  .homepage .hero-text-wrapper > p:first-child,
  .homepage .hero-text-wrapper > h1,
  .homepage .hero-text-wrapper > p:nth-child(3) {
    margin: 0;
  }

  .homepage .hero-text-wrapper > :nth-child(-n + 3) {
    margin: 10px 0;
  }

  .homepage .hero-text-wrapper > p:last-child {
    padding: 0 10px;
    font-size: 20px;
  }
}

/* blog hero styling */
.hero.blog.block .hero-blog-wrapper {
  display: flex;
  color: #101828;
  padding: 145px 10px 40px;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.hero .image-wrapper img {
  width: 600px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 25%);
  border-radius: 15px;
  overflow: hidden;
  max-height: 500px;
  transition: transform 1s, color 0.3s;
  object-position: top;
}

.hero .image-wrapper img:hover {
  transform: scale(1.02);
}

.image-wrapper,
.content-wrapper {
  width: 600px;
}

.hero .content-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #101828;
  margin-top: 15px;
  padding: 0;
  text-align: left;
}

.hero.blog.block .details {
  margin-top: 30px;
}

.hero.blog.block .details .tags {
  margin-bottom: 5px;
}

.hero .content-wrapper h2 {
  color: #363f72;
  font-size: 1.5rem;
  margin: 0 0 40px;
  font-weight: lighter;
}

.hero.blog.block .content-wrapper p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

.hero.blog.block .blog-card-author-date {
  font-size: 1rem;
  color: rgb(54 90 139);
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero.blog.block .read-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  transition: transform 0.3s;
}

.hero.blog.block .details button:hover .read-icon {
  transform: translateY(-3px);
}

@media (max-width: 1150px) {
  .hero .content-wrapper h1 {
    font-size: 1.5rem;
  }

  .hero .content-wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .hero.blog.block .content-wrapper p {
    font-size: 0.9rem;
  }

  .hero.blog.block .hero-blog-wrapper {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .hero.blog.block .hero-blog-wrapper {
    flex-wrap: wrap;
    padding: 0;
  }

  .image-wrapper,
  .content-wrapper {
    width: 100%;
  }

  .hero .image-wrapper img,
  .hero .image-wrapper {
    width: 100%;
  }

  .hero.blog.block {
    padding: 0 10px;
  }

  .hero.blog.block .details {
    margin-bottom: 30px;
  }

  .hero .content-wrapper p {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .image-wrapper,
  .content-wrapper {
    width: 100%;
  }
}
