.hero-wrapper .hero.block:not(.overlay) .article-hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 145px 10px 40px;
}

.hero-wrapper .hero.block:not(.overlay) picture {
  display: block;
  position: relative;
}

.hero-wrapper .hero.block:not(.overlay) img {
  width: 600px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 25%);
  border-radius: 15px;
  overflow: hidden;
  max-height: 500px;
  transition: transform 1s, color 0.3s;
  object-position: top;
  object-fit: cover;
}

.hero-wrapper .hero.block .image-wrapper img {
  width: 600px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 25%);
  border-radius: 15px;
  overflow: hidden;
  max-height: 500px;
  transition: transform 1s, color 0.3s;
  object-position: top;
}

.hero-wrapper .hero.block:not(.overlay) p img,
.hero-wrapper .hero.block:not(.overlay) p picture {
  width: 40px;
  height: 40px;
}

.hero-wrapper .hero.block:not(.overlay) .article-hero {
  color: white;
  width: 600px;
}

.hero-wrapper .hero.block .content-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 15px;
  padding: 0;
  text-align: left;
  background-color: transparent;
}

.hero-wrapper .hero.block.overlay .hero-text-wrapper h1 {
  font-size: 50px;
  line-height: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
}

.hero-wrapper .hero.block:not(.overlay) .article-hero h1 {
  font-size: 35px;
  max-width: 690px;
  display: block;
  width: 100%;
  margin: auto;
  text-align: left;
  padding: 26px 26px 10px;
}

.hero.blog.block .content-wrapper p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  background-color: transparent;
}

.hero-wrapper .hero.block:not(.overlay) .article-hero p {
  max-width: 690px;
  margin: auto;
  text-align: left;
  line-height: 1.5;
  border-radius: 8px;
  padding-left: 26px;
  margin-bottom: 10px;
}

.hero-wrapper .hero.block.overlay .hero-text-wrapper h1 + p {
  display: block;
  position: relative;
  top: -10px;
}

@media (max-width: 1045px) {
  .hero-wrapper .hero.block:not(.overlay) .article-hero h1 {
    padding: 0;
    font-size: 30px;
  }

  .hero-wrapper .hero.block:not(.overlay) .article-hero p {
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
  }

  .hero-wrapper .hero.block:not(.overlay) img {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  .hero.block {
    margin-bottom: 0;
  }

  .hero-wrapper .hero.block:not(.overlay) .article-hero-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0 10px 40px;
  }

  .hero-wrapper .hero.block:not(.overlay) .article-hero {
    width: 400px;
  }

  .hero-wrapper .hero.block:not(.overlay) img {
    width: 400px;
    height: 300px;
  }

  .hero-wrapper .hero.block:not(.overlay) .article-hero h1 {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .hero-wrapper .hero.block:not(.overlay) img {
    width: 100%;
    height: 400px;
  }

  .hero-wrapper .hero.block:not(.overlay) .article-hero-wrapper {
    padding: 0 16px 30px;
  }
}

.hero-wrapper .hero.block.overlay .hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.hero-wrapper {
  position: relative;
  overflow: hidden;
}

.hero-block {
  height: 509px;
}

.hero-wrapper .hero.block.overlay .hero-background {
  margin: 0;
  height: 509px;
}

.hero-wrapper .hero.block.overlay .hero-text-wrapper {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  gap: 10px;
}

.hero-wrapper .hero.block.overlay .hero-text-wrapper > p:last-child {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}

.hero-wrapper .hero.block.overlay .lighter-font {
  font-weight: normal;
}

/* Media queries */

@media (max-width: 1515px) {
  .hero-wrapper .hero.block.overlay .hero-background {
    height: 90vh;
  }

  .hero-wrapper .hero.block.overlay .hero-background img {
    object-position: left;
  }

  .hero-wrapper .hero.block.overlay .hero-text-wrapper img {
    width: 75px;
    height: auto;
  }

  .hero-wrapper .hero.block.overlay .hero-text-wrapper h1 {
    font-size: 30px;
  }

  .hero-wrapper .hero.block.overlay .hero-text-wrapper > p:first-child,
  .hero-wrapper .hero.block.overlay .hero-text-wrapper > h1,
  .hero-wrapper .hero.block.overlay .hero-text-wrapper > p:nth-child(3) {
    margin: 0;
  }

  .hero-wrapper .hero.block.overlay .hero-text-wrapper > :nth-child(-n + 3) {
    margin: 10px 0;
  }

  .hero-wrapper .hero.block.overlay .hero-text-wrapper > p:last-child {
    padding: 0 10px;
    font-size: 20px;
  }
}

/* blog hero styling */
.hero.blog.block {
  background-color: #004990;
}


.hero-wrapper .hero.block:not(.overlay) {
  background-color: #004990;
  margin-bottom: 50px;
}

.hero.blog.block .hero-blog-link {
  text-decoration: none;
}

.hero.blog.block .hero-blog-wrapper {
  display: flex;
  color: #101828;
  padding: 145px 10px 40px;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.hero-wrapper .hero.block .image-wrapper img:hover {
  transform: scale(1.02);
}

.image-wrapper,
.content-wrapper {
  width: 600px;
}

.hero.blog.block .details {
  margin-top: 30px;
}

.hero.blog.block .details .tags {
  margin-bottom: 5px;
}

.hero-wrapper .hero.block:not(.overlay) .content-wrapper h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 40px;
}

.hero.blog.block .blog-card-author-date {
  font-size: 1rem;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero.blog.block .details .read-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  transition: transform 0.3s;
}

.hero.blog.block .details button:hover .read-icon {
  transform: translateY(-19px);
}

@media (max-width: 1150px) {
  .hero-wrapper .hero.block .content-wrapper h1 {
    font-size: 1.5rem;
  }

  .hero-wrapper .hero.block .content-wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .hero.blog.block .content-wrapper p {
    font-size: 0.9rem;
  }

  .hero.blog.block .hero-blog-wrapper {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .hero.blog.block .hero-blog-wrapper {
    flex-wrap: wrap;
    padding: 0;
  }

  .image-wrapper,
  .content-wrapper {
    width: 100%;
  }

  .hero-wrapper .hero.block .image-wrapper img,
  .hero-wrapper .hero.block .image-wrapper {
    width: 100%;
  }

  .hero.blog.block {
    padding: 0 10px;
  }

  .hero.blog.block .details {
    margin-bottom: 30px;
  }

  .hero-wrapper .hero.block .content-wrapper p {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .image-wrapper,
  .content-wrapper {
    width: 100%;
  }
}