.gist .gist-file.gist-file {
    margin: 12px 0;
}

.gist .gist-meta a {
    font-size: 12px;
}

.youtube-poster {
    position: relative;
    margin-block: 24px;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.youtube-poster picture {
    display: flex;
}

.youtube-poster img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    position: absolute;
}

.youtube-poster button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.youtube-wrapper {
    display: none;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    margin-block: 24px;
}

.youtube-wrapper iframe {
    width: 100%;
    border: none;
    border: 0;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
}

.embed.is-loaded .youtube-wrapper {
    display: block;
}

.embed.is-loaded .youtube-poster {
    display: none;
}
