footer {
  padding: 20px;
  position: relative;
  overflow: hidden;
  background: 50% 50% / cover no-repeat rgb(34 34 34);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 12px;
  text-align: center;
}