/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
    font-family: "raleway fallback";
    font-style: normal;
    font-weight: bold;
    src: local('Arial Bold');
    ascent-override: 99.96%;
    descent-override: 24.88%;
    line-gap-override: 0.00%;
    size-adjust: 94.04%;
}

@font-face {
    font-family: "raleway fallback";
    font-style: normal;
    font-weight: normal;
    src: local('Arial');
    ascent-override: 92.39%;
    descent-override: 23.00%;
    line-gap-override: 0.00%;
    size-adjust: 101.74%;
}

:root {
  --font-family: raleway, "raleway fallback", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nav-height: 64px;
  --color-dark-gray: rgb(34 34 34);
  --color-logo-blue: rgb(0 73 144);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  min-height: 100%;
}

body.appear {
  display: block;
  display: flex;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.button {
    display: inline-flex;
    align-items: center;
    color: white;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #363F72;
    border: 1px solid #363F72;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-color 0.3s, background-color 0.3s;
    width: auto;
}

.button:hover {
    background-color: var(--color-dark-gray);
    border-color: var(--color-dark-gray);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li {
    padding: 4px 8px;
    border: 1px solid #363F72;
    font-weight: bold;
    color: #363F72;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.tags a {
  text-decoration: none;
}

.tags a li:hover {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: #fff;
}

.author {
    display: flex;
    gap: 32px;
    align-items: center;
}

.author img {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ddd;
    max-width: 100%;
}

.author strong {
    display: block;
    padding: 4px 0;
}

.date {
    font-style: italic;
    padding: 8px 0;
}
