/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: "raleway fallback";
  font-style: normal;
  font-weight: bold;
  src: local("Arial Bold");
  ascent-override: 99.96%;
  descent-override: 24.88%;
  line-gap-override: 0%;
  size-adjust: 94.04%;
}

@font-face {
  font-family: "raleway fallback";
  font-style: normal;
  font-weight: normal;
  src: local("Arial");
  ascent-override: 92.39%;
  descent-override: 23%;
  line-gap-override: 0%;
  size-adjust: 101.74%;
}

:root {
  --font-family: raleway, "raleway fallback", -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nav-height: 64px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  box-sizing: border-box;
  display: none;
}

body.appear {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  margin-top: 35px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
  width: auto;
}

.button:hover {
  transform: translateY(-3px);
}

.button .read-icon {
  transition: transform 0.3s;
}

.button:hover .read-icon {
  transform: translateY(-9px);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags li {
  padding: 4px 8px;
  border: 1px solid #f89728;
  font-weight: bolder;
  color: #f89728;
  border-radius: 5px;
}

.author {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 30px 0;
}

.author img {
  width: 56px !important;
  height: 56px !important;
  object-fit: cover;
  border-radius: 50%;
  background-color: #ddd;
  max-width: 100%;
}

.author strong {
  display: block;
  padding: 0 0 6px;
}

.author .title {
  color: #667085;
  font-size: 14px;
}

